.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
!.env.example
backend/models/*
!backend/models/.gitkeep
backend/data/raw/*
backend/data/processed/*
backend/data/databases/*
backend/data/uploads/*
backend/data/querra.db
!.gitkeep
!backend/data/raw/.gitkeep
!backend/data/processed/.gitkeep
!backend/data/databases/.gitkeep
!backend/data/uploads/.gitkeep

backend/outputs/*
!backend/outputs/.gitkeep
backend/logs/*
!backend/logs/.gitkeep
*.pkl
wandb/
*.log
.DS_Store
node_modules/
dist/
build/
