.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
!.env.example
backend/models/*
!backend/models/.gitkeep
backend/data/raw/*
backend/data/processed/*
backend/data/databases/*
!backend/data/raw/.gitkeep
!backend/data/processed/.gitkeep
!backend/data/databases/.gitkeep
wandb/
*.log
.DS_Store
node_modules/
dist/
build/
